/*----------------------------------------------------------------------------------------
conecept.scss
----------------------------------------------------------------------------------------*/
@use "../../Global/mixin" as mix;
@use "../../Global/font" as font;
@use "../../Global/color" as color;
@use "../../Global/z-Index" as zIndex;

.p-concept-sv {
    background-image: url(../images/concept/both/conceptBg.webp);
    background-position: center;
}

.p-concept-detail01 {

    &__inner {
        background-color: #F4F4F4;
        max-width: 1480px;
        margin-left: auto;
        margin-top: -40px;
    }

    &__column {
        margin-right: auto;
        gap: 5%;
    }
}

.p-concept-detail02 {
    &__inner {
        background-color: #F4F4F4;
        max-width: 1480px;
        margin-top: -25px;
        margin-right: auto;
        padding: 80px 50px 140px;
    }

    &__column {
        margin-left: auto;
    }

}

.p-concept-detail {
    &__heading {
        text-align: center;
        line-height: calc(50/30);
        color: #1A1A1A;
    }

    &__column {
        display: flex;
        justify-content: space-between;
        max-width: 825px;

    }

    &__txts {
        color: #0F0F0F;
    }

    &__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        max-width: 825px;
    }

    &__school {
        box-shadow: 0px 7px 9px -7px #777777 inset;
        margin-top: 40px;
        text-align: center;
        max-width: 916px;
        margin-left: auto;
        background-color: #fff;
        border-radius: 10px;
        padding: 45px 20px 20px;

        ol {
            max-width: 778px;
            margin-inline: auto;
            font-size: clamp(1.2rem, 1.151rem + 0.129vw, 1.4rem);
            text-align: left;
            margin-top: 30px;
            li {
                list-style-type: decimal;
                list-style-position: outside;
                margin-top: 5px;
                font-weight: 500;
                margin-left: 20px;
            }
        }

        p {
            max-width: 778px;
            margin-inline: auto;
            text-align: left;
            margin-top: 20px;
            font-size: clamp(1.2rem, 1.151rem + 0.129vw, 1.4rem);
            font-weight: 500;
        }
    }
}

@media(max-width:1580px) {
    .p-concept-detail01 {
        &__inner {
            margin-left: 5%;
        }
    }

    .p-concept-detail02 {
        &__inner {
            margin-right: 5%;
        }
    }
}

@media(min-width:769px) {
    .p-concept-detail {
        &__heading {
            font-size: 3rem;
            margin-top: 70px;
        }

        &__txts {
            width: 45%;

            p:first-of-type {
                margin-bottom: 40px;
            }

            p {
                font-size: 1.6rem;
                line-height: calc(36/16);
            }
        }

        &__img {
            width: 45%;
        }
        &__school{
            ol{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
    
            }
        }
    }

    .p-concept-detail01 {
        margin-bottom: 145px;

        &__inner {
            padding: 140px 120px 80px;
        }

        &__txts {
            p:first-of-type {
                margin-bottom: 25px;
            }
        }
    }

    .p-concept-detail02 {
        &__column {
            gap: 50px;
        }
    }
}


@media(max-width:768px) {
    .p-concept-detail {
        &__heading {
            margin-top: 10%;
            font-size: clamp(1.8rem, -0.013rem + 4.835vw, 3.7rem);
        }

        &__column {
            flex-direction: column;
        }

        &__txts,
        &__img {
            width: 100%;
        }

        &__txts {
            width: 100%;

            p {
                font-size: clamp(1.5rem, 0.546rem + 2.545vw, 2.5rem);
                line-height: calc(52/25);
            }
        }

        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            img {
                width: 100%;
            }
        }

        &__img {
            width: 100%;
            text-align: center;
        }
    }

    .p-concept-detail01 {
        margin-bottom: 15%;

        &__heading {
            margin-left: 5%;
            margin-right: 2%;
        }

        &__inner {
            padding: 100px 35px 80px;
        }

        &__column {
            gap: 30px;
        }

    }

    .p-concept-detail02 {
        &__heading {
            margin-right: 5%;
            margin-left: 2%;
        }

        &__inner {
            padding: 15% 40px 10%;
        }

        &__column {
            gap: 30px;
        }
    }
}

@media(min-width:481px) {}

@media(max-width:480px) {
    .p-concept-detail01 {
        &__inner {
            padding: 80px 20px 40px;
        }
    }

    .p-concept-detail02 {
        &__inner {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}